/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color: #D9D9D9;
// background-image:linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
//   background-image:-webkit-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
//   background-image:-ms-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
//  background-image:-webkit-gradient(
//      linear,
//      left top,
//      left bottom,
//      color-stop(0, #A7A7A7),
//      color-stop(0.51, #E4E4E4)
//  );

    background-attachment:fixed;
    font-family:"Helvetica Neue",Helvetica,sans-serif;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
//  text-transform:uppercase;
    width:100%;

}
.mm-title{

    padding: 18px 10px 18px 10px!important;
}
.mm-listview > li > a, .mm-listview > li > span{

    padding: 18px 10px 18px 10px!important;
}
.paddingscore{

    padding: 12px 6px;
}
#scorecard{

    padding-bottom: 250px;
}

#duvimgfollow{

    text-align: right;
    width: 100px;
    float: right;
    padding-right: 20px;
}
#resultsmore{

    padding:10px;
}
#divtime{
    clear:both;
    padding-top: 15px;
}


#divplayers{
    clear:both;
    padding-top: 15px;
}

#backicondiv{
    width: 20px;
    padding-top: 25px;
    float: left;
    padding-bottom: 10px;
}
#filterswitch{
    padding-top: 7px;
    padding-left: 10px;
    height: 30px;
}
.divmainmenu
{
    padding-top: 5px;
    width: 100%;
//  position: fixed;
//  top:0;
    text-align: left;
    font-size:16px;
    vertical-align: middle;
    min-height: 60px;
    z-index: 30;
    background-color: #D9D9D9;
}


.panel1{

    border-bottom-color:#BCE8F1 !important;
    border-radius: 4px !important;
}

.panel2{

    border-bottom-color: #D6E9C6! important;
    border-radius: 4px !important;
}
.panel3{
    border-bottom-color: #428bca !important;
    border-radius: 4px !important;
}



.imgheader{

    height: 20px;
    padding-top: 5px;
}
#divscore,#divbonus{

    padding-top: 15px;
    clear:both;
//width:100px;
}
.mainmenuresult div{

    text-align: left;
    padding-bottom: 3px;
}

.ui-page{
    outline:none !important;
}


#homescore,#awayscore{

    font-size: 25px;
}
.floatleft{

    float:left;
    width:50%;
    padding:10px;

}
.floatleftsettings{
    float:left;
    width:50%;


}
.mainmenuscore select{
    width:80%;

}
.floatleftnew{
    float:left;
    width:15%;
    padding:1px;
}
.floatleft2{

    float:left;
    width:40%;
    padding:1px;

}

.floatleft3{

    float:left;
    width:33%;
    padding:1px;

}
#backimg{

    width: 40px;


}
.hide{

    display: none;
}

.floatL{

    float:left;
    padding:10px;
    padding-left:10px;
    padding-right:8px;
// background-color: lightgray;
}

.floatLL{
    width:40%;
    float:left;
    padding:8px;
//  background-color: lightgray;
}
#idteamname{

}
.standheaderteam{
    width: 40%;
    border-bottom: 1px solid lightgray;
    text-align: left;
    background-color: lightgray;
    float:left;
    padding:10px;
    border-right:1px solid lightgray;

}
#divstandings{


    margin: 0 0 100px 0;

    margin-bottom: 75px;
    padding-bottom: 75px;
    overflow: auto;
    width:200%;

    padding-left: 5px;
    padding-right: 30px;

}
.standheader{

    border-bottom: 1px solid lightgray;
    text-align: center;
    padding:10px;
    background-color: lightgray;
    float:left;
    width:6.4%;
    border-right:1px solid lightgray;
}
.standheader2{

    border-bottom: 1px solid lightgray;
    text-align: center;
    padding:10px;
    background-color: lightgray;
    float:left;
    width:12%;
    border-right:1px solid lightgray;
}
#divmenustandings{

// width:100%;
//  clear:both;
//position: fixed;
//   font-size:9px !important;
    border-bottom: 1px solid lightgray

}
#divstandingsheader{
    overflow: auto;
    width:200%;

    padding-left: 5px;
    padding-right: 30px;
    margin-top: 150px;


}
#divstandings2{
    border-bottom: 1px solid lightgray;

}
.score1{

    border-right:1px solid lightgray;
   padding-top:5px;
    padding-bottom:5px;
}

.score2{
    width:12%;
    border-right:1px solid lightgray;
// padding:8px;
    text-align: center;
//  padding-top:8px;
// padding-bottom: 8px;

}

.score3{

    padding-right:2px;
    padding-left:2px;
    padding-top: 8px;
    padding-bottom: 8px;
    height: 40px;
}
.standfooter{

    border-top:1px solid lightgray;
}

.mainmenuresultheader{
    border-bottom: 1px solid #333;
    width:100%;
    background-color: lightgray;
}

.mainheaderimgicon{

    float:right;
    margin-right:15px;
    margin-top: 10px;


}
#busy{
    margin-top:15px;
    height: 30px;

}
.mainheaderimg{
    float:left;

    padding:1px;
    padding-bottom: 10px;
    padding-top:10px;

}
.mainheaderimgicon{


}

.mainmenuscore{

    text-align: left;
    padding-bottom: 3px;
}

#indexloadingdata .modal-content{
    width:20%;

}

#divresults {
    margin-top: 20px;
    padding-bottom: 10px;
    padding-left:15px;
    padding-right: 15px;

}
#divcircleplayers{
    width: 110px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 50px;

}

#divcircle{
    width: 60px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 50px;
}
.circle {
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    width: 100%;
    position: relative;
}

.circle-border {
    border: 1px solid #339900;
}

.circle-solid{
    background-color: whitesmoke;
}

.circle:before {
    content: "";
    display: block;
    padding-top: 100%;
}

.circle-inner {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    text-align: center;
}

.score-text {
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 1em;
    line-height: 1em;
    font-size: 1em;
    color: #339900;
}

#divschedules {


    padding-top: 15px;
    padding-bottom: 50px;
    padding-left:15px;
    padding-right: 15px;


}

#divscoringreq {
    margin-top: 100px;
    padding-bottom: 10px;
    padding-left:15px;
    padding-right: 15px;

}
#divscoringreq .row{
    padding-bottom: 25px;

}
.ui-loading .ui-loader{
    display: none !important;
}

.ui-slider-inneroffset a:link{

    background-color: white;
}
.ui-loader-default{
    display:none;

}
#loadingspinner{
    float: right;
    /* background-color: black; */
    color: white;
    padding: 10px;

}



#divscoringreqadmin{
    margin-top: 100px;
    padding-bottom: 10px;
    padding-left:15px;
    padding-right: 15px;

}
#divscoringreqadmin .row{
    padding-bottom: 25px;

}

#mainmenustandingmenu,#mainmenuresultsch,#mainmenuschmenu{
//margin-top: 20px;
    padding-bottom: 100px;
//  padding-left:15px;
//  padding-right: 15px;

}

#menu{

    background-color:#4776D1;
    color:white;
}


#mainmenu{

    padding-top: 15px;
    padding-bottom: 50px;
    padding-left:15px;
    padding-right: 15px;
}

.divmainmenunew{
    height: 20%;
    text-align: center;
    border-bottom: 1px solid black;
    font-size:18px;
    padding:15px;
    clear: both;
}
#archiveyeardiv:active{

    background-color: #339900;
    color: white;
    opacity:0.7;
}



#archiveyearyes:active{

    background-color: #339900;
    color: white;
    opacity:0.7;
}
#archiveyearmo:active{

    background-color: #339900;
    color: white;
    opacity:0.7;
}
.divmainmenunew:active{

    background-color: #339900;
    color: white;
    opacity:0.7;
}
#closeregion2:active{

    background-color: #339900;
    color: white;
    opacity:0.7;
}
.closeregion:active{

    background-color: #339900;
    color: white;
    opacity:0.7;
}
#splashscreen{
//  background: url(../img/img_1575.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height:100vh;
    overflow: hidden;

}



.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}

.backregion:active{

    background-color: #339900;
    color: white;
    opacity:0.7;
}


.closeregion,.backregion{

    padding:10px;
}
#teamsdiv{
// padding-top: 30px;
    padding-bottom: 50px;
// padding-left:15px;
// padding-right: 15px;
    text-align: left;
}


#indexdiv{
// padding-top: 30px;
    padding-bottom: 50px;
//  padding-left:15px;
//  padding-right: 15px;
//  overflow: scroll;
}

.mainmenuresultcancel{
    height: 20%;
    text-align: left;
    background-color: lightgray;
    border: 1px solid gray;
    font-size:15px;
    margin-bottom: 10px;
    left:5%;
// width: 92%;
    padding:10px;
    clear: both;

}
.divhide{

    display:none;
}
.mainmenusettings{
    height: 20%;
    text-align: left;
    background-color: #ffffff;
    border-bottom: 1px solid gray;
    font-size:15px;
//    margin-bottom: 5px;
    left:5%;
//  width:80%;
    padding:8px;
    clear: both;

}
.imagesch{
    content:url(../img/schedule.png);

}



.mainmenuwifi{
//height: 70px;
//  text-align: left;
// background-color: #ffffff;
//  border-bottom: 1px solid gray;
    font-size:15px;
//    margin-bottom: 5px;
//  left:5%;
//  width:80%;
//  padding:10px;


}
.mainmenuwifi p{

    font-size: 13px;
    margin-bottom: 0px;
}
.mainmenusettings p{

    font-size: 13px;
    margin-bottom: 0px;
}
#schleft{
    height: 100%;
    float: left;
    width:80%;
}
#schright{
    width:20%;
    float:right;
    height: 80px;
}

#RESULTSright{
//width:10%;
    float:right;
    height: 80px;
//padding-right: 15px;
    padding-top:15px;
}
#modelnews{
    padding:10px !important;
}
#modelnews{
    padding-bottom: 300px !important;
}
@media (max-width: 480px) {

    .modal {
        height: 100%; /* Set a default max height of the modal (adjusted later)*/
        position: fixed; /* Display modal in the centre of your screen */
        overflow-y: scroll; /*  Ensure that the modal is scroll-able */
        -webkit-overflow-scrolling: touch; /* Avoid having to use 2 finger scroll on iOS    */

    }
    .modal.fade.in{
        top: 5px; /* Use more screen real estate */
    }
    .modal-body{
        /* Increase the max height of the modal body to try & avoid both it,
         * and the modal container having scroll bars which results in odd behavior */
        max-height: 3700px;
    }
}
@media (max-width: 480px) {
    #divstandings{
        font-size:11px;

    }
}

@media (max-width: 640px) {
    #divstandings{
        font-size:12px;

    }
}


/* Now adjust the height so it handles various screen sizes & orientations */
/* You could make this as granular as you like, or have it more granular at common screen sizes
 * but it should start at the height we set on .modal (i.e. 500px) & work down */
@media (max-width: 480px) and (max-height: 500px){.modal{ height: 450px}}
@media (max-width: 480px) and (max-height: 450px){.modal{ height: 400px}}
@media (max-width: 480px) and (max-height: 400px){.modal{ height: 350px}}
@media (max-width: 480px) and (max-height: 350px){.modal{ height: 300px}}
@media (max-width: 480px) and (max-height: 300px){.modal{ height: 250px}}
@media (max-width: 480px) and (max-height: 250px){.modal{ height: 200px}}
@media (max-width: 480px) and (max-height: 200px){.modal{ height: 150px}}


#newsmain,a:active, a:focus{
// padding-top: 10px;
// color: #333 !important;
//  text-decoration: none !important;
//  padding-bottom: 10px;
}

#addnewfeed,a:active, a:focus{
    padding-top: 80px;
//  color: #333 !important;
    text-decoration: none !important;
    padding-bottom: 200px;
    padding-left: 10px;
    padding-right: 10px;
}

#loadnews{
    height: 50px;
    top: 15px;
    float:right;
    padding-left: 30px;
    padding-top: 12px;
    padding-right: 30px;
    min-height: 60px;
}
.container-fluid{
    padding-left:0px !important;
    padding-right: 0px !important;
    padding-top: 10px;
    width:100%;
    height:100%;
//  margin-top: -20px;
}

.mainforeground::-webkit-scrollbar { width: 0 !important }


.mainforeground{
//  position: fixed;
    width:100%;
//   height:100%;
    z-index: 10;
// background:#7f7f7f;
    background:rgba(255,255,255,0.75);
//   top: 65px;
//  bottom: 60px;
    overflow-y: hidden;
// margin-top: 60px;
    padding-top:60px;

}

.mainforeground2{
//  position: static;
    width:100%;
    height:100%;
    z-index: 10;
//   background:#7f7f7f;
    background:rgba(255,255,255,0.75);
    overflow-y: scroll;
    margin-top: 65px;

}
.sponsordiv{

// padding-left: 20px;
    height: 80px;
}
#mainbackground{
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-position-y: 60%;
// opacity : 0.4;
    width:100%;
    height:100%;
    position: absolute;
    filter: alpha(opacity=50);
//background:rgba(255,255,255,0.5);
    display: none    ;
}

.mainmenunews{
    height: 20%;
    text-align: left;
    background-color: #ffffff;
    border-bottom: 1px solid gray;
    font-size:15px;
    margin-bottom: 10px;
    left:5%;
//  width: 92%;
    padding:10px;
    clear: both;

}
#headerplayer{

    background-color: lightgray;
    color: black;
    border-bottom: 3px solid skyblue;
    padding:5px;

}
#indexloadingdata{

    top: 40%;
}
#divhelp{
    padding :8px;
    padding-bottom: 80px;
}
#divhelp div{
    margin-top:15px;

}
.mainmenuplayers{
    height: 120px;
    text-align: left;
    background-color: #ffffff;
    border-bottom: 1px solid gray;
    font-size:15px;
    margin-bottom: 10px;
    left:5%;
//  width: 92%;
    padding:15px 1px;
    clear: both;

}
#modelcontactall{
    padding: 10px !important;
    -webkit-overflow-scrolling:touch
overflow-y: scroll !important;
}

#modelhistoryall{
    padding: 10px !important;
    -webkit-overflow-scrolling:touch
overflow-y: scroll !important;
}
#modelhistory{
    padding: 10px !important;
    -webkit-overflow-scrolling:touch
overflow-y: scroll !important;
}
#modelnews{
    padding: 10px !important;
    -webkit-overflow-scrolling:touch
overflow-y: scroll !important;
}

#clubfav{
    padding: 10px !important;
    -webkit-overflow-scrolling:touch
overflow-y: scroll !important;
    padding-bottom: 70px;
    margin-bottom: 130px;
}
.mainmenuresult{


    min-height: 105px;
    text-align: center;
    background-color: #ffffff;
    border: 1px solid gray;
    font-size:15px;
    margin-bottom: 10px;
    left:5%;
//  width: 92%;
    padding:10px;
    clear: both;
}
#basicModalyesno .modal-footer{
    padding:0;

}
#modelfooter:active{

    background-color: #339900;
    color: white;
    opacity:0.7;
}
.modelfooter:active{

    background-color: #339900;
    color: white;
    opacity:0.7;
}

#modelfooterupdate:active{

    background-color: #339900;
    color: white;
    opacity:0.7;
}
#closenewdatabase,#closenewversion{
    padding:10px;

}
#opennewversion:active,#opennewversion1:active,#opennewdatabase:active,#closenewdatabase:active,#opennewdatabaseapple:active{

    background-color: #339900;
}
#modelfooterclose:active{

    background-color: #339900;
    color: white;
    opacity:0.7;
}
#modelfooterclose1:active{

    background-color: #339900;
    color: white;
    opacity:0.7;
}
#divawayteam:active{

    background-color: #339900;
    color: white;
    opacity:0.7;
}
#divhometeam:active,#defaultyes:active,#defaultno:active{

    background-color: #339900;
    color: white;
    opacity:0.7;
}
#basicModal .modal-footer:active{
    background-color: #339900;
    color: white;
    opacity:0.7;

}
#basicModalnews .modal-footer:active{
    background-color: #339900;
    color: white;
    opacity:0.7;

}


#basicModalContact .modal-footer:active{
    background-color: #339900;
    color: white;
    opacity:0.7;

}


.modelfloat50:active{
    background-color: #339900;
    color: white;
    opacity:0.7;

}

#basicModal{
    max-height: 3000px;

}
#basicModalshare .modal-body{

    padding: 15px;
}
#basicModal .modal-body{

    padding:0px;
}
#Directions,#score {
    padding:15px;
}
#remind{
    padding-left:15px

}
#Directions:active,#score:active,#remind:active {
    background-color: #339900;
    color: white;
    opacity:0.7;
}

#clubfav .modal-body:active{
    background-color: #339900;
    color: white;
    opacity:0.7;

}
.modelfloat50 {

    float:left;

    min-width:49%;
    align-content: center;
    padding-top:10px;
    padding-bottom: 10px;
// padding-left: 5px;
//  padding-right: 5px;
}
.modelfloatleft
{
    float:left;

    min-width: 25%;
    align-content: center;
    padding-top:10px;
    padding-bottom: 10px;
//padding-left: 5px;
    padding-right: 5px;

}
.modelfloatright
{
    float:right;

    min-width: 27%;
    align-content: center;
    padding-top:10px;
    padding-bottom: 10px;
//padding-left: 5px;
    padding-right: 5px;

}
.modelfloatleftfirst{
    float:left;

    min-width: 30%;
    align-content: center;
    padding-top:10px;
    padding-bottom: 10px;
//padding-left: 5px;
    padding-right: 5px;

}
.left {
    border-right: 1px solid #ccc;

}
.mainmenuteam
{
    height: 90px;
    text-align: center;
    background-color: #ffffff;
    border-bottom: 1px solid gray;
    font-size:15px;
    margin-bottom: 10px;
    left:5%;
//  width: 92%;
    padding:13px 0px;
    clear: both;

}
.padding2 {
    padding:2px;

}

.bold{
    font-weight: bold;

}
#score a{

    color: #333;
}

.size13{
    font-size:13px;
}
.size11{
    font-size:11px;

}
.blue{

    color: blue;
}
.size11 a{

    color: #428bca;
}
#divmainheadercancel{
    padding:15px;
    clear: both;

}

#divaddref{
    padding:15px;
    clear: both;

}

.divmainheader
{
    height: 20%;
    text-align: center;
    border-bottom: 1px solid blue;
    font-size:18px;
    padding:15px;
    clear: both;
    color: blue;
}
.divmainplayer{
    height: 20%;
    text-align: center;
//  border-bottom: 1px solid blue;
    font-size:18px;
//  padding:15px;
    clear: both;
    color: blue;

}
.divmainheader a{
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
    color: blue;

}

.divmain
{
    height: 20%;
    text-align: center;
    border-bottom: 1px solid gray;
    font-size:22px;
    padding:7%;
    clear: both;
}

.divmain a{
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
    color: #000000;

}
.modal-footer{

    text-align: center !important;
}


#divhalffull{

    padding-top: 20px;
    clear: both;
}
#divhalffull button{

    margin :8px;
}
#cancelyes:active{
    background-color: #339900;
    color: white;
    opacity:0.7;

}
#cancelno:active{
    background-color: #339900;
    color: white;
    opacity:0.7;

}


#divnewmain,.divnewmain{
    clear: both;
    width:100%;
// padding-top: 10px;
// margin: 5px 0;
//  padding-left: 5px;
    min-height: 110px;
//position: relative;
}
#divnew1image img,.divnew1image img,#divimagenew img{
    position: absolute;

    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    max-height: 100%;
    max-width: 100%;
    width: auto;
    height: auto;
//margin-bottom: 20px;

}
#divnew1image,.divnew1image{
// padding: 0px 10px 0px 0px;
    min-height: 110px;
    width: 25%;
    float:left;
    margin: 0 10px 0px 0;
    border-top:0px solid #eee;
    border-bottom:0px solid #eee;
    border-right:0px;
    position: relative;
    max-height: 110px;
//   clear: both;
// width: 150px;
    overflow:hidden;
}
#divimagenew{
// padding: 0px 10px 0px 0px;
    min-height: 300px;
    width: 100%;

    margin: 10px 0px;
    border-top:0px solid #eee;
    border-bottom:0px solid #eee;
    border-right:0px;
    position: relative;

//   clear: both;
// width: 150px;
    overflow:hidden;

}
#divnew1,.divnew1{
    padding: 20px 0px;
    min-height: 60px;
    width: 13%;
    float:left;
    margin: 0px 0;
    border-top:0px solid #eee;
    border-bottom:0px solid #eee;
    border-right:0px;
}
#divnew2,.divnew2{
    padding: 20px 0px;
//  min-height: 60px;
// float:left;
    width:100%;
    padding-left: 10px;
//   padding: 10px 0;
//  margin: 2px 0;
//  padding-right: 10px;
    border-top:0px solid #eee;
    border-bottom:0px solid #eee;
    border-right:0px solid #eee;


}
#divnew3,.divnew3{
    padding: 20px 0px;
//  min-height: 60px;
    float:left;
    width:75%;
//  padding-left: 10px;
//   padding: 10px 0;
//  margin: 2px 0;
//  padding-right: 10px;
    border-top:0px solid #eee;
    border-bottom:0px solid #eee;
    border-right:0px solid #eee;


}

.facebook{

    border-left-color: #336699;
}

.modal .modal-body {
    max-height: 420px;
    overflow-y: auto;
}
#basicModaltime .modal-footer{

    text-align:left !important
}

#basicModalnews .modal-footer:active{

    background-color: #339900;
    color: white;
    opacity:0.7;
}
#basicModaltime .modal-footer:active{

    background-color: #339900;
    color: white;
    opacity:0.7;
}
#dontshow:active,#notnow:active,#indexyes:active{

    background-color: #339900;
    color: white;
    opacity:0.7;
}
#menu p{

    margin: 0 0 0px;
}

#settingdeleteall,#settingsync{
// color: white !important;

}

#idhelp:active
{
    background-color: #339900;
    color: white;
    opacity:0.7;

}
#showmenu{
    padding-left:15px;
    float: left;
    padding-top:25px;
    width:200px;
    z-index: 20;
    color:black;
}


#showsch{
    padding-left:15px;
    float: left;
    padding-top:25px;
// width:200px;
    z-index: 20;
    color:black;
}
#showsch2{
    padding-left:15px;
    float: left;
    padding-top:25px;
    width:200px;
    z-index: 20;
    color:black;
}
#showmenu a,a:active, a:focus{

    color: black;
}
#showmenumain{

    z-index: 20;
    position: absolute;
    left: 15px;
    top: 30px;
    width:150px;
    color:white;
}
#showmenumain a,a:active, a:focus{

    color: white;
}

.footer
{

    position: fixed;
    bottom:0;
    text-align: center;
    line-height: normal;
//  background-color:#FFFFFF;
    width: 100%;
    background-color: #D9D9D9;
}

/* Portrait layout (default) */
.app {
    background:url(../img/logo.png) no-repeat center top; /* 170px x 200px */
    position:absolute;             /* position in the center of the screen */
    left:50%;
    top:50%;
    height:50px;                   /* text area height */
    width:225px;                   /* text area width */
    text-align:center;
    padding:180px 0px 0px 0px;     /* image height is 200px (bottom 20px are overlapped with text) */
    margin:-115px 0px 0px -112px;  /* offset vertical: half of image height and text area height */
    /* offset horizontal: half of text area width */
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position:left center;
        padding:75px 0px 75px 170px;  /* padding-top + padding-bottom + text area = image height */
        margin:-90px 0px 0px -198px;  /* offset vertical: half of image height */
        /* offset horizontal: half of image width and text area width */
    }
}

h1 {
    font-size:24px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}

.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:none;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}

@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}

.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}

.modal{
// display: block !important; /* I added this to see the modal, you don't need this */
}

/* Important part */
.modal-dialog{
    overflow-y: initial !important
}
.modal-body{
    height: 80%;
    overflow-y: auto;
}





#menu {


}

.mm-listview {
//  text-transform: uppercase;
//  font-size: 12px;
}
.mm-listview li:last-child:after {
    content: none;
    display: none;
}
.mm-listview li:after {
    left: 20px !important;
//right: 20px !important;
}
.mm-listview a {
    text-align: left;
//  padding: 5px 0 !important;
    padding-left: 20px;
}
.mm-listview a,
.mm-listview .fa {
    color: rgba(255, 255, 255, 0.6);
}
.mm-listview a:hover,
.mm-listview a:hover .fa {
    color: #fff;
}
.mm-listview .fa {
    position: absolute;
    left: 20px;
}
.mm-listview .mm-next + a, .mm-listview .mm-next + span{
    margin-right: 0px;

}
.mm-navbar{
    border-color: rgba(255, 255, 255, 0.2) !important;
    color:white !important;
}
.mm-menu .mm-navbar > *, .mm-menu .mm-navbar a{
    color:white !important;
}
.mm-menu .mm-listview > li .mm-next:after, .mm-menu .mm-listview > li .mm-arrow:after{

    border-color: rgba(255, 255, 255, 0.2)!important;
}
.mm-menu .mm-navbar .mm-btn:before, .mm-menu .mm-navbar .mm-btn:after{
    border-color: rgba(255, 255, 255, 0.2)!important;
}
.mm-listview > li, .mm-listview > li::after, .mm-listview > li .mm-next, .mm-listview > li .mm-next::before{
    border-color: rgba(255, 255, 255, 0.2)!important;
}

.padding{

    padding-right: 15px;
}